<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Seqwa | Search</title>
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Seqwa Search with Java and Springboot" />
  <script type="module" crossorigin src="assets/index.c3b1c196.js"></script>
  <link rel="modulepreload" href="assets/vendor.f786355b.js">
  <link rel="stylesheet" href="assets/index.8a118d2a.css">
</head>

<body>
  <div id="app"></div>

</body>

</html>